@import "tailwindcss";

@theme {
  --color-rosa: #e8457c;
  --color-rosa-dark: #c93568;
  --color-vermell: #d63031;
  --color-groc: #f9ca24;
  --color-verd: #27ae60;
}

body {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  background-color: #faf5f0;
  color: #2d3436;
  margin: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}
